<ion-view view-title="Time">
  <ion-content >
    <br />
    <font face="Helvetica" size="4">Your offer will expire in</font>
    <br/><br/>
    <ion-radio ng-model="choice" ng-change="selectTime(60)" ng-value="'A'">60 mins</ion-radio>
    <ion-radio ng-model="choice" ng-change="selectTime(45)" ng-value="'B'">45 mins</ion-radio>
    <ion-radio ng-model="choice" ng-change="selectTime(30)" ng-value="'C'">30 mins</ion-radio>
    <ion-radio ng-model="choice" ng-change="selectTime(15)" ng-value="'D'">15 mins</ion-radio>
  </ion-content>
</ion-view>
