<ion-view hide-nav-bar="true" title="User Login" class="login_pane">
	<ion-content padding="true">
		<img src='./img/icon.png'  class="icon" />
		<div class="padding-top"></div>
    <form novalidate>
    	<h4>Log in using ADS Account:</h4>
      <label class="item item-input item-floating-label">
        <span class="input-label">ADS Account</span>
        <input type="text" placeholder="ADS Account" ng-model="data.username" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="data.password" required>
      </label>
      <button class="button button-block button-calm" ng-click="login()">Login</button>
    </form>
	</ion-content>
</ion-view>