<ion-view view-title="Buy">
  <ion-content>
    <ion-list>
        <ion-item 
          class="item-remove-animate item-avatar item-icon-right" 
          type="item-text-wrap" ng-click="goBuyVendors()">
          <h2>Select Vendor</h2>
          <p>{{selectedVendor}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item 
          class="item-remove-animate item-avatar item-icon-right" 
          type="item-text-wrap" ng-click="goBuyTime()">
          <h2>Select Time</h2>
          <p>{{selectedTime}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>

      </ion-list>
      <button ng-click="confirmBuy()" class="button button-block button-positive">
        Confirm
      </button>
  </ion-content>
</ion-view>
