<ion-view view-title="Buy">
  <ion-content>
    <ion-list>
        <ion-item 
          class="item-remove-animate item-avatar item-icon-right" 
          type="item-text-wrap" href="#/tab/buy/vendors">
          <h2>Select Vendor</h2>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item 
          class="item-remove-animate item-avatar item-icon-right" 
          type="item-text-wrap" href="#/tab/buy/time">
          <h2>Select Time</h2>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>

      </ion-list>
      <button class="button button-block button-positive">
        Confirm
      </button>
  </ion-content>
</ion-view>
