
/* Your app's CSS, go crazy, make it your own */


.logo_wrapper{
	position:relative;
	float:right;
	width:90%;
	height:90%;
}

#logo_autodesk{	
	position:absolute;	
	right:0;
	bottom:0;
	width:auto;
	height:80%;		
}

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.item-icon-left ion-spinner {
  float: left;
  margin-left: -3.2em;
  margin-right: 1em;
  margin-top: -0.2em;
 }

.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #999;
  fill: #999;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}


body {
}

.bar.item-input-inset .item-input-wrapper input {
    width: 100%;
}

.search-wrapper-light {
    border-bottom: 2px solid rgba(255,255,255,0.5);
    background: none;
    border-radius: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.search-wrapper-light input, .search-wrapper-light input::-webkit-input-placeholder {
    color: #ffffff;
}

ion-infinite-scroll.nobgcolor {
	background-color: white;
}

ion-scroll.nobgcolor {
	background-color: white;
}


.login_pane {
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;
}


.login_h1 {
	text-align:center;
	padding:18px 0;
	border-bottom:3px solid #fff; !important
	position:relative;
	color:#00b4d2;
	text-shadow:0 1px 0 #000;
	font-size:18px;
	font-weight: 600;
	text-align:center;
	padding:18px 0;
	position:relative;
}
.login_h1:after {
	content:"";
	display:block;
	width:250px;
	height:100px;
	position:absolute;
	top:0;
	left:50px;
	-webkit-transform: rotate(70deg);
	background: linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));  
}
.login_h1 label {
 	color:rgba(137, 192, 243, 0.8);
  	display:block;
  	font-size:13px;
  	padding-bottom:9px;
}

.login_list{
	color: #fff;
	width:70%;
	padding-top: 40px;
	margin:0 auto;
	
}

.login_list input[type=text],input[type=password] {
	color: rgb(166,166,166);
	font-size:16px;
}

.login_item{
	border-top:none;
	border-left:none;
	border-right:none;
	border-width: 2px;
}

.login_input-label{
	color: #fff;
}

.login_button{
	width: 100%;
	margin:20px auto;
}

.login_bar-footer{
	bottom: 0;
	border-top-width: 1px;
	border-bottom-width: 0;
	background-position: top;
	background-color:rgb(166,166,166);
	height: 66px;
}

.addBook_item{
	border-width:2px;
}

.addBook_Buttons{
	display: block;
	width: 100%;
	margin:30px auto;
}
#addBook_BtnSubmit{
	width: 72%;
	float:left;
	border-radius: 6px;
}

#addBook_BtnClear{
	width: 25%;
	float:right;
	border-radius: 6px;
	min-width: 60px;
}

#addBook_BtnScan1{
	float:right;
	margin-right:6px;
}

#addBook_BtnScan2{
	float:right;	
	margin-right:6px;
}

.statusGreen { 
	color: green;
}

.statusRed {
	color: red;
}




.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide{
  display:none;
}
/* Empty. Add your own CSS if you like */
.vendor {
	/*vertical-align: text-top;*/
	float: right;
	height: 50px;
	/*text-align: right;*/
	position: relative;

}

.vendor_name_list{


}


.buy-bg {
  background-image: url('../img/buy-bg.JPG');
  background-size: cover;
}

.icon {
  width: 50%;
  margin-top: 50px;
  margin-left: 25%;
}